{%  extends "base.html" %}

{% block content %}
    <h1>Vehicles for Sale</h1>
    <table class="table table-dark table-striped table-hover">
            <caption>Latest Vehicles</caption>
            <thead>
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Year</th>
                    <th scope="col">Transmission</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for vehicle in vehicles %}
                <tr>
                    <td scope="row">{{vehicle.brand}}</td>
                    <td scope="row">{{vehicle.model}}</td>
                    <td scope="row">{{vehicle.year}}</td>
                    <td scope="row">{{vehicle.transmission}}</td>
                    <td>
                        <a href="{% url 'vehicle_details' pk=vehicle.id %}">View Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
{% endblock content %}