{%  extends "base.html" %}

{% block content %}

<h5>
<img src="{{vehicle.photo.url}}" alt="Citroen C$" height="540px" width="840px"> <br>
    Makina qe keni zgjedhur eshte {{vehicle.brand}} e modelit {{vehicle.model}} e vitit {{vehicle.year}}
</h5>
<p>
Kjo makine eshte <em>{{vehicle.transmission}}</em>.
</p>
<p>
    <a href="{% url 'vehicle_list' %}">Go back to listing</a>
</p>

{% endblock content %}